.send-mail {
  position: absolute;
  bottom: 0;
  right: 50px;
  background-color: black;
  width: 40%;
  height: 40%;
  max-width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.send-mail-options {
}

.send-mail-header {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  color: gray;
}

.send-mail-header > h3 {
  color: whiteSmoke;
  font-size: 13px;
}

.send-mail-btn {
  background-color: #3079ed !important;
  text-transform: capitalize !important;
  margin: 15px !important;
}

.send-mail-close {
  cursor: pointer;
}

.send-mail > form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.send-mail > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}


.send-mail-message{
    flex:1
}